@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	background-color: #000000;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #ffffff;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}

.mo-fire {

    left:30%;
    bottom: -50px;
    z-index: 0;
  }
  
  #svg-view {
      width: 408px;
      height: 250px;
      left: 0px;
  }
  
  .mo-fire svg {
    width: 100%;
    right:80px;
  }
  .flame {
    animation-name: flameDisappear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.5;
    transform-origin: 45% 45% 0;
  }
  .flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .flame.two{
    animation-duration: 5s;
    animation-delay: 1s;
  }
  
  
  .flame-main {
    animation-name: flameMovement;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  .flame-main.one {
    animation-duration: 2.2s;
    animation-delay: 1s;
  }
  .flame-main.two {
    animation-duration: 2s;
    animation-delay: 1s;
  }
  .flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
  }
  .flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
  }
  .flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
  }
  @keyframes flameMovement {
    50% {
      transform: scale(0.98,1.0) translate(0, 2px) rotate(0deg);
    }
  }
  @keyframes flameDisappear {
    0%{
      transform: translate(0) rotate(180deg);
    }
    50% {
       opacity: 1;
    }
    100% {
      transform: translate(-10px, -40px) rotate(180deg);
      opacity: 0;
    }
}


.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}


ul {
    list-style-type: disc; 
    padding-left: 20px;
    text-align: left; 
    font-family: second, sans-serif;
  }
  ul li {
    margin-bottom: 10px; 
  }